@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/*////////////////////////////////////////////////////////
table of contents
1. global styles
2. typography
3. areas
    3.1 header
    3.2 main
    3.3 footer
////////////////////////////////////////////////////////
Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services")
Uitzonderingen: Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);
/////////////////////////////////////////////////////////*/

/*---------------------------------1. global styles----------------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*als ik bij * { overflow-x: hidden;} toevoeg verdwijnt mijn probleem met de driehoek
maar ik het de witte swuiggle ineens een scroll balk.
als ik overflow toepas op andere elementen dan werkt het niet?*/

/*---------------------------------2. typography----------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    color: #0C0C0C;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

a:link {
    text-decoration: none;
    color: gray;
}

/*remove gray? or make white?*/

/*---------------------------------3. areas----------------------------------------*/

.inner-container {
    border-color: pink;
    border-style: dashed;
}

.outer-container {
}

/*---------------------------------3.1 header----------------------------------------*/
header {
    background-color: #5722CD;
    background-image: linear-gradient(to bottom right, hsl(233, 45%, 52%), hsl(259, 72%, 47%));
    color: #F3F6F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-style: solid;
    border-color: gold;
}

nav {
    width: 100vw;
    max-width: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

nav li {
    margin: 20px 30px 20px 30px;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 0 0;
    max-width: 700px;
    margin: 0 40px;
    flex: 0 1 auto;
}

.intro p {
    margin: 20px 0 0 0;
}

.intro button {
    font-size: 12px;
    width: 200px;
}

.squiggle-white {
    width: 60px;
    margin: 80px 0 0 0;
    position: relative;
    top: 40px;
}

.top-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 100vw 60px 0;
    border-color: transparent #5722CD transparent transparent;
}

/*bij 100vw word de driehoek te groot. Bij de navigatiebalk kan ik het corrigeren
met max-width: 100% dat lukt niet bij de driehoek.
tussen de chrome en de firefox browser zit ook verschil??!*/

/*---------------------------------3.2 main----------------------------------------*/
main {
    background-color: #F3F6F9;
    border-color: deeppink;
    border-style: solid;
}

.hello {
    border-style: solid;
    border-color: coral;
    text-align: center;
    color: #5722CD;
    display: flex;
    justify-content: center;
}

.hello .inner-container {
    margin: 40px;
    flex: 0 1 700px
}

.hello article {
    padding: 100px 0 100px 0;
}

.hello h3 {
    margin: 15px;
    font-size: 24px;
}

.hello p {
    color: #0C0C0C;
    margin: 60px 0 0 0;
}

.hello a:link {
    color: #5722CD;
}

/*--------------------ARTICLES-----------*/

.work {
    border-style: solid;
    border-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work a:link {
    text-transform: uppercase;
    color: #5722CD;
    font-weight: bold;
    font-size: 12px;
}

.work .inner-container {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    max-width: 1600px;
}

img {
    width: 100%;
    display: block;
}

/* waarom is de display:block nodig om het witte lijntje weg te halen? */

.promo-image-span {
    box-shadow: 2px 8px 16px hsl(0, 0%, 48%);
    flex: 0 1 800px;
    margin: 30px 0;
}

.squiggle-purple {
    width: 40px;
}

.work article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: dashed;
    border-color: coral;
}

.work article:nth-child(even) {
    flex-direction: row-reverse;
}

.promo-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-color: #0C0C0C;
    height: 200px;
    min-width: 160px;
    flex: 0 1 300px;
    margin: 60px;

}

.rolling-stone {
    display: flex;
}

.variety {
    display: flex;
}

.worth {
    display: flex;
}

/*-----------------SERVICES------------------*/

.services {
    border-color: darkslateblue;
    border-style: solid;
    display: flex;
    justify-content: center;
}

.services .inner-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 40px;
    justify-content: center;
}

.service-article {
    border-color: #5722CD;
    border-style: solid;
    border-width: 2px;
    box-shadow: 2px 8px 20px #7A7A7A;
    margin: 20px;
    height: 400px;
    width: 400px;
}

.service-article h3 {
    color: #5722CD;
    margin: 10px 40px;
}

.service-article p {
    color: #7A7A7A;
    margin: 10px 40px;
}

.service-logos {
    display: inline-block;
    width: 100px;
    margin: 40px 0 10px 40px;
}

.bottom-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 60px 0 0 100vw;
    border-color: transparent transparent transparent #5722CD;
}

/*-----------FORM----------------*/

.form-container {
    border-color: deeppink;
    border-style: dotted;
    background-color: hsl(259, 72%, 47%);
    background-image: linear-gradient(to bottom right, hsl(233, 45%, 52%), hsl(259, 72%, 47%));
    color: #F3F6F9;
    display: flex;
    justify-content: center;
    text-align: center;
}


.form-container .inner-container {
    border-color: chartreuse;
    border-style: solid;
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    max-width: 900px;
    flex: 1 1;
}

.form-container h2 {
    margin: 40px 0 0 0;
    font-size: 40px;
}

.form-container p {
    margin: 20px;
}

form {
    text-align: start;
    border-style: solid;
    border-color: gold;
    display: flex;
    flex-direction: column;
}

label {
    font-size: 12px;
}

input {
    border-radius: 3px;
    border-style: none;
    height: 50px;
    text-transform: capitalize;
    margin: 0 0 30px 0;
}

button {
    background-color: #ED4385;
    color: white;
    height: 50px;
    width: 160px;
    border-style: none;
    border-radius: 25px;
    text-transform: uppercase;
    align-self: center;
    margin: 20px;
    box-shadow: 2px 8px 20px hsl(259, 92%, 43%);
}

/*---------------------------------3.3 footer----------------------------------------*/
footer {
    background-color: #0C0C0C;
    color: #F3F6F9;
    text-align: center;
}