@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

/*////////////////////////////////////////////////////////
table of contents
1. global styles
2. typography
3. areas
    3.1 header
    3.2 main
    3.3 footer
////////////////////////////////////////////////////////
Paars #5722CD;
Blauw #4845E4;
Roze #ED4385;
Zwart #0C0C0C (voor standaard tekst);
Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services")
Uitzonderingen: Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)
Grijs #7A7A7A (voor de service-tegel tekst);
/////////////////////////////////////////////////////////*/

/*---------------------------------1. global styles----------------------------------------*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------------------------2. typography----------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    color: #0C0C0C;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
}

/*---------------------------------3. areas----------------------------------------*/
/*---------------------------------3.1 header----------------------------------------*/
header {
    background-color: #5722CD;
    color: #F3F6F9;
}

/*---------------------------------3.2 main----------------------------------------*/
main {
    background-color: #F3F6F9;
}

.form {
    background-color: #5722CD;
    color: #F3F6F9;
}

/*---------------------------------3.3 footer----------------------------------------*/
footer {
    background-color: #0C0C0C;
    color: #F3F6F9;
}